<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>profile</title>

    <style>
        div {
            border: 1px solid black;
            margin: 100px 150px 100px 80px;
            background-color: #f7eecd;
        }
    </style>
</head>
<body>

<div>
    <center>
        <img src="../../static/profile/images/IMG_20190102_125718.jpg" height="300" width="400">
    </center>
    <center>firstName : {{ user.firstName }}<br>
        lastName : {{ user.lastName }}<br>
        email : {{ user.email }}<br>
        asset : {{ user.asset }}<br>
        purchased : {{ user.purchased }}
    </center><br>
    <center>
        <form action="{% url 'profile:update' user.id %}">
            <input type="submit" value="Update">
        </form>
    </center>
</div>
</body>
</html>